USE [SUCOS_VENDAS]
GO
/****** Object:  UserDefinedFunction [dbo].[FuncTabelaNotas]    Script Date: 3/28/2022 4:24:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[FuncTabelaNotas] (
    @DATAINICIAL AS DATE, 
    @DATAFINAL AS DATE
) RETURNS TABLE
RETURN SELECT DATA, COUNT(*) AS NUMERO 
		FROM [NOTAS FISCAIS] WHERE DATA >= @DATAINICIAL 
        AND DATA <= @DATAFINAL
		GROUP BY DATA